.inOutSwitch {
  width: fit-content;
}

.switchBtn {
  max-width: 15em;
}

.inOutLabel {
  border-radius: 0;
  display: block;
  margin-bottom: 3px;
}

.switchBdg {
  max-width: 12em;
  vertical-align: bottom;
  margin-bottom: 3px;
}

.switchBtn,
.switchBdg,
.inOutLabel,
.msgLabelStyle {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.msgLabelStyle {
  display: block;
  font-size: 100%;
  border-radius: 0;
  color: white;
  width: 7em;
  margin-bottom: 3px;
}
