.new-samples-grid-container {
  width: 100% !important;
  /* margin-top: 1em; */
}


.new-samples-grid-container form {
  display: inline;
}

.new-samples-grid-card-body{
  padding: 1em 0.5em 0.5em 0.5em;
  min-height: 85vh;
}

.new-samples-grid {
}

.new-samples-grid-template{
  /* height: 1000px; */
  /* display: grid;
  grid-template-areas: "a a";
  gap: 10px;
  grid-auto-rows: auto; */
}


.sample-items-collapsible{
  margin-bottom: 2%;
}

.sample-items-collapsible-header{
  border: 1px solid #c9c7c7!important;
  /* border-radius: 3px!important; */
  padding: 4px;
}

.sample-items-collapsible-header-actions{
  position: relative;
  top: 37px;
  left: 5%;
  margin-top: -40px;
  width: fit-content;
}

.sample-items-table{
  /* width: fit-content; */
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  margin-bottom: 0px;
}

.new-samples-grid ul {
  margin-left: auto;
  margin-right: auto;
  padding-left: 4em;
  padding-right: 4em;
  list-style-type: none;
}

.new-samples-grid-li {
  margin-bottom: 5px;
  z-index: 2 !important;
  list-style-type: none;
  border: 1px solid #c9c7c7!important;
  border-radius: 3px!important;
}

.new-samples-grid-li-mv {
  z-index: 3 !important;
  list-style-type: none;
}

.new-samples-grid-row-header{
  /* padding-left: 2.9em;
  padding-right: 2.9em; */
}

.sample-items-table-row-header {
  height: 5px!important;
}

.sample-items-table-row-header-th {
  padding: 0px!important;
  text-align: center;
}

.move-arrow {
  position: absolute;
  width: 32px;
  height: 32px;
  z-index: 1000;
  text-align: center;
  line-height: 32px;
  background-color: #fff;
  background-repeat: no-repeat;
  opacity: 0.7;
  border-radius: 15px;
  border: 1px solid #aaa;
}

.move-arrow:hover {
  opacity: 1;
}

.move-arrow-up {
  top: -16px;
  left: 50%;
  margin-left: -16px;
}

.move-arrow-down {
  bottom: -16px;
  left: 50%;
  margin-left: -16px;
}

.move-arrow-left {
  top: 50%;
  left: -16px;
  margin-top: -16px;
}

.move-arrow-right {
  top: 50%;
  right: -16px;
  margin-top: -16px;
}



.new-samples-grid-item {
  /* border: 1px solid #c9c7c7!important; */
  /* background-color: #fafafa!important; */
  list-style-type: none!important;
  padding: 0px;
  /* border-radius: 3px!important; */
  display: flex;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05)!important;
}

.list-group-sample-items {
  overflow-y: hidden!important;
}

.new-samples-grid-item-moving {
  border: 1px dashed #888;
  padding: 4px;
}

.new-samples-grid-item-current {
  border: 2px solid #5cb85c;
  padding: 4px;
}

.new-samples-grid-item-collected {
  background-color: #baf04e;
}

.new-samples-grid-item-to-be-collected {
  background: #cee3f6!important;
  /* border: 1px solid #DDD!important; */
}

.new-samples-grid-item-button {
  border: 0px;
  border-radius: 4px;
  background: Transparent;
  opacity: 1;
  padding-left: 2px;
  padding-right: 2px;
  border: 1px solid Transparent;
}

.pick-puck-checkbox-button {
  position: relative;
  bottom: 3px;
}

button[disabled] {
  opacity: 0.2;
}

.new-samples-grid-item-button:hover {
  /* border: 1px solid #888; */
}

.new-samples-grid-item-tasks {
  display: flex;
  width: 295px;
  padding-left: 5px;
  padding-bottom: 2px;
}

.new-sample-grid-task-item {
  margin: 0px!important;
}

.samples-item-controls-container {
  float: left;
}

.new-samples-grid-item-selected {
  border:3px double #616161 !important;
}

.protein-acronym {
  font-size: small;
  font-weight: bold;
  pointer-events: auto;
}

.dm {
  font-size: small;
  font-style: italic;
}

.sc_location {
  font-size: 11px;
  float: right;
  pointer-events: none;
  position: absolute;
  margin: 2px;
  top: 0;
  right: 0;

}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 1px;
  margin-right: 1px;
  border-radius: 100%;
  background: green;
  position: absolute;
  right: 0;
  top: 0;
}



.btn-link {
  color: #333 !important;
}

.new-queue-order {
  position: absolute;
  right: 5%;
  top: 60%;
  margin-left: 10px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: #222;
  opacity: 0.3;
}

.selection-rubber-band {
  position: fixed;
  background-color: rgba(1, 152, 255, 0.3);
  border: 1px solid #0198e1;
  display: none;
  z-index: 10;
}

.filter-input-active {
  outline: none;
  border-color: #ffbf00;
  box-shadow: 0 0 7px #ffbf00;
}

.filter-input-active input:focus {
  box-shadow: none;
}

#taskSummaryPopover {
  min-width: 700px !important;
  max-width: 700px !important;
  padding-bottom: 1em;
}


.label-custom-success {
  color: #464646;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d9edf7;
  font-weight: bolder;
}
