.samples-grid-table-container {
  width: 100% !important;
}

.samples-grid-table-container form {
  display: inline;
}

.samples-grid-table-card {
  border: 0 !important;
}

.samples-grid-table-card-header {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.samples-grid-table-card-body {
  padding: 1.5em 0.5em 0.5em 0.5em;
}

.sample-items-collapsible {
  margin-bottom: 1%;
  width: 100%;
  margin-right: auto;
}

.div-sample-items-collapsible {
  margin: auto auto 2em auto;
  overflow-x: auto;
}

.sample-items-collapsible-header {
  display: flex;
  border: 1px solid #d1d6da !important;
  border-radius: 3px 3px 0 0 !important;
  padding: 4px;
}

.collapsible-arrow-c {
  float: right;
  margin-right: 10px;
  margin-left: auto;
  margin-top: 4px;
}

.samples-grid-table-context-menu-icon {
  position: relative;
  bottom: 2px;
  margin-right: 10px;
  cursor: pointer;
}

.sample-items-table {
  align-items: center;
  margin-bottom: 0;
  background: #e5e8eb6b;
  width: 100%;
}

.sample-items-table > thead {
  border-bottom: transparent !important;
}

.sample-items-table-row-header {
  height: 5px !important;
}

.sample-items-table-row-header-th {
  padding: 0 !important;
  text-align: right;
  width: 330px !important;
}

.sample-items-table > :not(:first-child) {
  border-top: 0;
}

.sample-items-table > tbody > tr > td {
  padding: 0.3em !important;
}

.samples-grid-table-li {
  min-width: 283px;
  margin: auto auto 6px 0;
  z-index: 2 !important;
  list-style-type: none;
  height: 70px;
  border: 1px solid #9c9c9c !important;
  border-radius: 3px !important;
  cursor: context-menu;
}

.samples-grid-table-li-manual {
  margin-right: 5px;
}

.samples-grid-table-item {
  list-style-type: none !important;
  padding: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) !important;
}

.samples-grid-table-item-moving {
  border: 1px dashed #888;
  padding: 4px;
}

.samples-grid-table-item-current {
  border: 2px solid #5cb85c;
  padding: 4px;
}

.samples-grid-table-item-collected {
  background-color: #baf04e;
}

.samples-grid-table-item-to-be-collected {
  background: #cee3f6 !important;
}

.samples-grid-table-item-button {
  background: Transparent;
}

.span-container-code {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
  max-width: 200px;
  display: inline-flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pick-puck-checkbox-button {
  position: relative;
  bottom: 3px;
}

.sample-items-puck-code {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid gray;
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 160px !important;
}

.samples-grid-table-item-tasks {
  /* width: fit-content; */
  height: 26px;
  padding-left: 19px;
  display: grid;
  margin-right: 25px;
}

.samples-grid-table-item-tasks > .slick-list > .slick-track {
  margin-left: 0 !important;
}

.samples-grid-table-item-tasks > .slick-next::before,
.samples-grid-table-item-tasks > .slick-prev:before {
  color: #9e9c9c;
  opacity: 100%;
}

.samples-grid-table-item-tasks > .slick-prev.slick-disabled:before,
.samples-grid-table-item-tasks > .slick-next.slick-disabled:before {
  opacity: 25%;
}

.samples-grid-table-item-tasks > .slick-prev {
  left: 1px;
}

.samples-grid-table-item-tasks > .slick-next {
  /* right: -25px */
}

.new-sample-grid-task-item {
  margin: 0 !important;
}

.samples-item-controls-container {
  float: left;
}

.samples-grid-table-item-selected {
  border: 3px dashed #585555 !important;
}

.div-samples-grid-table-item-top {
  /* width: 180px; */
}

.samples-grid-table-item-name-pt {
  white-space: nowrap;
  overflow: hidden;
}

.samples-grid-table-item-name-protein-acronym {
  font-size: small;
  font-weight: bold;
  pointer-events: auto;
  max-width: 62%;
  background: #5cb85c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  top: 8px;
}

.dm {
  font-size: small;
  font-style: italic;
}

.sc_location {
  font-size: 11px;
  float: right;
  pointer-events: none;
  position: absolute;
  margin: 2px;
  top: 0;
  right: 0;
}

.dot {
  height: 7px;
  width: 7px;
  margin-top: 1px;
  margin-right: 1px;
  border-radius: 100%;
  background: green;
  position: absolute;
  right: 0;
  top: 0;
}

.btn-link:not([data-default-styles]) {
  color: #333 !important;
}

.new-queue-order {
  position: absolute;
  right: 5%;
  top: 38%;
  margin-left: 10px;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  font-style: italic;
  font-weight: bold;
  color: #222;
  opacity: 0.3;
}

.selection-rubber-band {
  position: fixed;
  background-color: rgba(1, 152, 255, 0.3);
  border: 1px solid #0198e1;
  display: none;
  z-index: 10;
}

.filter-input-active {
  outline: none;
  border-color: #ffbf00;
  box-shadow: 0 0 7px #ffbf00;
}

.filter-input-active input:focus {
  box-shadow: none;
}

#taskSummaryPopover {
  min-width: 700px !important;
  max-width: 700px !important;
  padding-bottom: 1em;
}

.label-custom-success {
  color: #464646;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #d9edf7;
  font-weight: bolder;
}

.copy-link {
  width: 20px;
  height: 20px;
  padding: 0%;
  margin-bottom: -25px;
  position: relative;
  top: -5px;
  opacity: 25%;
}

.copy-link-ha {
  margin-top: -14px;
}
.copy-link:hover {
  opacity: 100%;
}

.copy-link > .copy-icon {
  color: #e7eff1;
}

.copy-link > .tooltiptext::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #0122388e transparent;
}

.copy-link > .tooltiptext {
  z-index: 20000;
  visibility: hidden;
  white-space: nowrap;
  background-color: #015f9d;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 2px;
  position: relative;
  z-index: 1;
  top: 8px;
  right: 40px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copy-link:focus {
  cursor: pointer;
  outline: none;
}

.copy-link-glow {
  margin-left: 20px;
  transition: all 0.1s ease-in-out;
}

.copy-link:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* Graphical View / Flex grid css */

.div-flex-pie-collapsible {
  width: 95%;
  /* margin: auto auto 2em auto; */
}

.div-svg-flex {
  margin-left: auto;
}

.main-circle-center {
  fill: #dfd1d9;
}

.has-sample {
  cursor: pointer;
}
.empty-cell {
  cursor: not-allowed;
  background: #000000;
}

.cell-cicle-empty :hover {
  stroke: #ffffff;
}

.cell-cicle {
  fill: #015f9d;
  border: 2px solid #5cb85c;
}

.cell-cicle:hover {
  stroke: #6cb0f5;
  stroke-width: 9.5;
  text-shadow: 0 0 30px #fdec6e;
  transition: all 0.2s ease-in;
}

.circle-text:hover > .cell-cicle:hover {
  stroke: #63adf7;
  text-shadow: 0 0 30px #fdec6e;
  transition: all 0.2s ease-in;
}

.cell-cicle-activated {
  stroke: #fa9f63;
  stroke-opacity: 90%;
}

.cell-cicle-center {
  fill: whitesmoke;
  stroke: rgb(163, 161, 161);
  stroke-width: 0.1%;
}

.circle-text {
  fill: #273a44;
}
