.navbar {
    border-radius: 0px;
    font-size: 14px;
}

body{
	background-color: rgba(0,0,0,0.035);
	font-size: 12px;
}

label {
    font-weight: normal;
}


.control-label{
    text-align: initial !important;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 4px 0;
    margin-top: 1px \9;
    line-height: normal;
}

.ReactModal__Overlay{
  z-index: 2;
}

.main-content{
    padding-top: 10px;
}


@media all and (min-width: 1400px) { /* screen size until 1200px */
    body {
        font-size: 14px; 
    }
}
@media all and (max-width: 1400px) { /* screen size until 1200px */
    body {
        font-size: 12px; 
    }
    .motor-abort{
        display: none !important;
    }
    .motor-name {
        line-height: 25px;
    }
    .step-size span{
        font-size: 8px;
    }
}


.main-menu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 65px;
    background-color: #222;
    border-color: #080808;
}

.main-menu-icon{
   width: 100%; 
}

.icon{
    background-color: grey;
    border-radius: 20px;
    height: 40px;
    width: 40px;
    padding-top: 6px;
    padding-left: 1px;
    margin-left: 0px !important;
    color: inherit !important;
    text-decoration: none;
}

.icon:focus, .icon:hover{
    text-decoration: none !important;
    background-color: #5D5D5D;
}

