.navbar {
    border-radius: 0px;
    font-size: 14px;
}

body{
	background-color: rgba(0,0,0,0.035);
	font-size: 12px;
}

label {
    font-weight: normal;
}


.control-label{
    text-align: initial !important;
}

input[type="radio"], input[type="checkbox"] {
    margin: 4px 4px 0;
    margin-top: 1px \9;
    line-height: normal;
}

.ReactModal__Overlay{
  z-index: 2;
}

.main-content{
    padding-top: 10px;
}


@media all and (min-width: 1400px) { /* screen size until 1200px */
    body {
        font-size: 14px; 
    }
}
@media all and (max-width: 1400px) { /* screen size until 1200px */
    body {
        font-size: 10px; 
    }
    .fa.fa-2x{
        font-size: 1.0em;
    }
}
