.widget-container { 
  z-index: 10001;
}

.conversation-container > .header {
  background-color: #f4f7f9;
  padding: 0px 0px;
  border-bottom: 1px solid #ddd;
}

.conversation-container > .sender {
  border-top: 1px solid #ddd;
}

.messages-container {
  background-color: #f9f9f9;
}

.messages-container > .message > .client {
  margin-left: unset;
  border: 1px solid #999;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
  background-color: #c6eab7;
  padding: 10px;
  width: 100%;
}    

.messages-container > .message > .response {
  margin-left: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .095);
  background-color: #fff;
  padding: 10px;
  width: 100%;
}