.sampleChangerInfo {
  width: 7em;
}

.sampleChangerLabel {
  border-radius: 0%;
  display: block;
  margin-bottom: 3px;
}

.msgLabelStyle {
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0%;
  display: block;
  font-size: 100%;
  color: black;
  margin-bottom: 3px;
}
