.fieldTitle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.fieldTitle .fieldLabel {
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0;
}

.fieldInput {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

:global(.has-error) .fieldInput input {
  border-color: var(--bs-danger);
}

.fieldDescription,
.fieldHelp {
  font-size: 0.875rem;
  line-height: 1.25;
  color: var(--bs-secondary);
}

.fieldErrors ul {
  padding-left: 1rem;
}

.fieldErrors li {
  line-height: 1.3;
}

.fieldHelp p {
  margin-bottom: 0;
}
