gevent==1.4.0
flask==1.0.2
flask-socketio==4.2.1
gevent-websocket==0.10.1
Flask-Session==0.3.1
python-socketio==4.5.0
louie
redis
scipy
mock
pbr       # Depdency of mock, needs to be installed manualy (problem with mock package)
funcsigs  # Depdency of mock, needs to be installed manualy (problem with mock package)
jsonpickle
pillow
suds
python-ldap
lxml
numpy
requests
v4l2
scandir
matplotlib # Dependency of energyscan mockup object
gipc
