gevent==1.2.2
flask==1.0.2
flask-socketio==3.0.1
gevent-websocket==0.10.1
Flask-Session==0.3.1
python-socketio==2.0.0
louie
redis
scipy
mock
pbr       # Depdency of mock, needs to be installed manualy (problem with mock package)
funcsigs  # Depdency of mock, needs to be installed manualy (problem with mock package)
jsonpickle
pillow
suds
python-ldap
lxml
numpy
requests
v4l2
scandir
ipaddress
