:root {
  --hw-ready--bg: #9bce7b;
  --hw-busy--bg: #ffff99;
  --hw-warning--bg: #ffc499;
  --hw-invalid--bg: #d9534f;
  --hw-fault--bg: #ff9999;
  --field-dirty--bg: #ec971f;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
}

.popover {
  width: auto !important;
  z-index: 1040;
}

#test {
  min-width: fit-content;
}

.device-status-container > div {
  margin-right: 1em;
  width: 12%;
}

button[disabled] {
  opacity: 0.2;
  pointer-events: none;
}

textarea:focus,
input[type='text']:focus,
input[type='password']:focus,
input[type='datetime']:focus,
input[type='datetime-local']:focus,
input[type='date']:focus,
input[type='month']:focus,
input[type='time']:focus,
input[type='week']:focus,
input[type='number']:focus,
input[type='email']:focus,
input[type='url']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='color']:focus,
.uneditable-input:focus {
  border-color: rgba(126, 161, 185, 0.8);
  box-shadow:
    0 1px 1px rgba(0, 0, 0, 0.075) inset,
    0 0 8px rgba(104, 207, 239, 0.6);
  outline: 0 none;
}

.modal {
  height: 100vh;
  z-index: 10000;
}

/* Allow opting out of this global override */
.modal-dialog:not([data-default-styles]) {
  width: min-content;
  max-width: 90%;
  min-width: 50%;
}

.popover {
  max-width: 100%; /* Max Width of the popover (depending on the container!) */
}

.btn-primary {
  background: #317fc4 !important;
}

.btn-outline-secondary {
  background: #ffffff;
  border: solid 1px #ccc;
  color: #000000cc;
}

.btn-outline-secondary:hover {
  background: #eff1f3d7;
  border: solid 1px #c5c4c4;
  color: #000000;
}

.btn-success {
  background: #449d44 !important;
}

.bg-success {
  background: #449d44 !important;
}

.bg-primary {
  background: #317fc4 !important;
}

.alert-success {
  background: #dff0d8 !important;
}

.btn:not([data-default-styles]):focus,
.btn:not([data-default-styles]):active {
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-item:not([data-default-styles]):focus,
.dropdown-item:not([data-default-styles]):active {
  outline: none !important;
  box-shadow: none !important;
  background: transparent;
  color: #000000;
}

.nowrap-style {
  white-space: nowrap;
}
