.popover {
  width: auto !important;
}

.modal-dialog {
  margin: 130px auto;
}

#loading {
  margin-top: 20%;
  text-align: center;
}

#loading .logo {
  width: 159px;
  opacity: 0.7;
}

#loading .loader-init {
  width: 100px;
}

.device-status-container > div {
  margin-right: 1em;
  width: 12%;
}
