.taskPopover {
  width: auto;
  max-width: 80%;
  z-index: 10000;
}

.scroll {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
}

.scroll tbody td,
.scroll thead th {
  white-space: nowrap;
}

.tableStriped > tbody > tr:nth-of-type(odd) {
  background-color: #eaeaea;
}

.tableStriped > tbody > tr:nth-of-type(even) {
  background-color: rgba(238, 232, 170, 0.2);
}

.tableStriped > tbody > tr:hover {
  background-color: #f0f3f5;
}

.emptyTable {
  margin-bottom: 1em;
  border-radius: 5px;
  background-color: rgba(247, 211, 35, 0.27);
  padding: 1em;
}
