*,
*:before,
*:after {
  box-sizing: border-box;
}
.f-no-select {
  user-select: none;
}
.queue-settings .dropdown-menu {
  margin-left: -250px !important;
}
.dropdown-menu > li > span {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.m-tree {
  position: relative;
  user-select: none;
  background-color: #f7f7f7;
  padding-bottom: 0.5em;
  padding-top: 0.2em;
}

.img-centerd {
  position: sticky;
  bottom: 10%;
  z-index: 2000;
}

.center-in-box {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24em;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.5;
}
.queue-head {
  margin-top: 15px;
}
.queue-body {
  margin-top: 10px;
  padding-top: 0;
  overflow-x: hidden;
  flex-grow: 1;
}
.m-tree.queue-body > ul > li.active {
  background-color: rgba(0, 0, 0, 0) !important;
}
.m-tree.queue-body > ul > li.active {
  background-color: rgba(0, 0, 0, 0) !important;
}
.queue-controlls {
  background-color: white;
  border-radius: 0;
}
.fa {
  margin-left: 5px;
}
.node-name {
  margin-left: 4px;
  cursor: pointer;
}
.node-root {
  font-size: 16px;
  width: 90%;
}
.node-sample {
  font-size: 1em;
  margin-bottom: 1rem;
  background-color: white;
}
.node-method {
  width: 80%;
  font-size: 1em;
  margin-top: 5px;
  margin-left: 20px;
}
.current-sample {
  margin-left: 5px;
}
.queue {
  height: 100vh;
  overflow-y: auto;
  z-index: 1;
}
.passive {
  background-color: #adabab !important;
}
.active {
  /* background-color: #337ab7 !important; */
}
.success {
  background-color: #5cb85c !important;
}
.error {
  background-color: #d9534f !important;
}
.warning {
  background-color: #f0ad4e !important;
}
.searchBox {
  width: 100%;
}
.m-tree {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.queue-root {
  font-size: 1em;
  margin: 10px;
  line-height: 33px;
  user-select: text;
}
.current-sample-controls {
  margin-right: 15px;
}
.queue-divider {
  margin-top: 10px;
  margin-bottom: 10px;
}
.queue-nav {
  height: 6%;
}
.queue-nav-link {
  height: 100%;
  padding: 0.4em 0 0;
}
.list-head {
  padding: 1rem 1rem;
  border: 0;
}
.list-body {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  top: 15%;
  height: 60%;
  width: 100%;
}
.queue-messages {
  height: 25%;
  width: 100%;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
}
.queue-messages-title {
  background-color: #eef;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 1rem;
}
.centring-method {
  margin-right: 10px;
}
.node-task {
  margin-left: 20px;
  margin-bottom: 2px;
}
.uncollected {
  background-color: #f9f9f9;
}
.running {
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 5%);
  background-color: rgba(66, 138, 202, 0.8) !important;
}
.success {
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 5%);
  background-color: rgba(150, 198, 29, 0.52) !important;
}
.warning {
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 5%);
  background-color: rgba(255, 212, 0, 0.39) !important;
}
.error {
  background: linear-gradient(to bottom, #ffffff 0%, rgba(255, 255, 255, 0) 5%);
  background-color: rgba(217, 83, 79, 0.56) !important;
}
.task-controlls {
  cursor: pointer;
  font-size: 17px !important;
  margin-left: 7px;
  color: black;
}
.task-head {
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
}
.task-head p {
  margin: 0;
}
.task-head-selected {
  background-color: #adcbda;
}
.task-head-selected:hover {
  background-color: #98b2bf !important;
}
.task-head:hover {
  background-color: #eaeaea;
}
.task-body {
  margin: 0;
  padding: 0;
}
.task-body label {
  font-weight: bold;
}
.task-body button {
  font-weight: bold;
  width: 33%;
}
.task-information {
  margin-bottom: 5px;
}
.task-information span {
  color: #1d26ab;
}
.task-parameters {
  cursor: pointer;
}
.left {
  display: table-cell;
  min-width: 225px;
}
.right {
  display: table-cell;
  width: 100%;
  vertical-align: top;
}
.right .progress {
  margin-top: 6px;
}
.task-parameters-table {
  padding: '0px';
  margin: '0px';
  font-size: 'smaller';
}
.task-parameters-table > thead {
  color: #636363;
}
