.json-schema-form-container-with-submit .rjsf legend {
  display: none;
}

.json-schema-form-container-with-submit .rjsf .control-label {
  display: inline;
}

.json-schema-form-container-with-submit .rjsf .field-description {
  display: inline;
  margin-left: 0.5em;
}

.beamline-action-submit-button {
  margin-top: 1em;
}
