.popinput-input-label {
  display: inline-block;
  min-width: 90px;
  margin-right: 1rem;
  font-weight: bold;
}

.popinput-input-value {
  display: inline-block;
}

.popinput-busy-buttonbar {
  display: inline-block;
  float: right;
}

.popinput-input-busy {
  display: inline-block;
  background-image: url(../../img/busy-indicator.gif);
  height: 32px;
  width: 32px;
}

.visibility-hidden {
  visibility: hidden;
  display: inline;
}

.value-label-enter-success {
  transition: background-color 1000ms ease-out;
}

.popinput-input-container {
  display: inline;
}

.popinput-input-editicon {
  visibility: hidden;
  color: #999;
  margin-right: 5px;
}

.popinput-input-link:hover > .popinput-input-editicon {
  visibility: visible;
}

.editable-click {
  cursor: pointer;
}
