.deviceState {
  width: 7em;
}

.labelStyle {
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 0;
  display: block;
  margin-bottom: 3px;
}

.msgLabelStyle {
  display: block;
  font-size: 100%;
  border-radius: 0;
  color: black;
  width: 7em;
  margin-bottom: 3px;
}
