.deviceState {
  width: 7em;
}

.labelStyle {
  overflow: hidden;
  text-overflow: ellipsis;

  border-radius: 0;
  display: block;
}

.msgLabelStyle {
  display: block;
  font-size: 100%;
  border-radius: 0;
  color: black;

  width: 7em;
}
