.popinput-input-label{ 
  display: inline-block;
  min-width: 90px;
  margin-right: 1rem;
  font-weight: bold;
}

.popinput-input-value{
  display: inline-block;
  min-width: 70px;
}

.popinput-input-loading{
}

.popinput-input-busy{
  display: inline-block;
  background-image: url(../../img/busy-indicator.gif);
  height: 32px;
  width: 32px;
}

.visibility-hidden{ 
	visibility: hidden;
  display: inline;
}

.value-label-enter-success{
  transition: background-color 1000ms ease-out;
}
