.motor-input-container{
    padding-right: 0px;
}

.motor-name{
    font-size: 1.0em;
    margin-bottom: 0px;
    font-weight: bold;
    line-height: 3;
}

.motor-value{
    font-size: 1.0em;
    font-weight: bold;
    margin-left: 5px;
    border-bottom:1px dotted #f00;
    cursor:pointer;
}

.motor-group{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.motor-button{
    margin: 15px !important;
}

.motor-step{
    font-size: 0.7em;
}


