.outsideWrapper{ 
    width:100%; height:auto;  
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto; 
}
.insideWrapper{ 
    width:100%; height:100%; 
    position:relative;
}
.coveredImage{ 
    width:100%; height:auto; 
}
.coveringCanvas{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
}

#contextMenu{
	position:absolute; 
	top:0px; 
	left:0px;
	display:none;
}

.sample-controlls{
    margin-top: 10px;
    background-color: white;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0px #AAA;
}

.information-box{
    background-color: white;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0px #AAA;
    height: 300px;
}

.camera-controll{
    height: 42px;
    width: 33.33333333%;
}

.divider{
    margin-bottom: 0px;
}

.canvas-container{
    position:relative;
}

.img{
    position:absolute;
    text-align: left;
}