.outsideWrapper{ 
    width:100%; height:auto;  
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto; 
}
.insideWrapper{ 
    width:100%; height:100%; 
    position:relative;
}
.coveredImage{ 
    width:100%; height:auto; 
}
.coveringCanvas{ 
    width:100%; height:100%; 
    position:absolute; top:0px; left:0px;
}

#contextMenu{
	position:absolute; 
	top:0px; 
	left:0px;
	display:none;
}

.sample-controlls{
    background-color: white;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0px #AAA;
    height: 45px;
}

.sample-controlls-top{
    margin-bottom: 10px;
}

.sample-controlls-bottom{
    margin-top: 10px;
}

.motor-name{
    line-height: 45px;
    font-size: 14px;
    margin-bottom: 0px;
    margin-left: 5px;
}
.motor-value{
    line-height: 45px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 5px;
    border-bottom:1px dotted #f00;
    cursor:pointer;
}


.information-box{
    background-color: white;
    border: 1px solid #AAA;
    border-radius: 3px;
    box-shadow: 0px 2px 3px 0px #AAA;
    min-height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
}

.camera-controll{
    height: 42px;
    width: 33.33333333%;
}

.divider{
    margin-bottom: 0px;
}

.canvas-container{
    position:relative;
}

.img{
    position:absolute;
    text-align: left;
}

.motor-group{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

.motor-button{
    margin: 15px !important;
}

#zoom-control{
    display: inline;
    width: auto;
    position: relative;
    top: 3px;
}


.button-active{
    color:orange;
}

#zoom-button{
    position: relative;
}

.btn:focus{
    outline: none !important;
}

.btn:active{
    color: grey !important;
}




.overlay-box{
    position: absolute;
    margin-top: 10px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    background-color: #ffffff;
}

.overlay-arrow{
    top: -11px;
    border-width: 5px;
        left: 50%;
  position: absolute;
  width: 0; 
  height: 0;
  border-style: solid;
  border-color: transparent transparent rgb(0, 0, 0);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: transparent;

}



.overlay-head{
    padding: 8px 14px;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ebebeb;
    border-radius: 5px 5px 0 0;
}

.overlay-body{
    padding: 5px;
}


.input-sm{
    width: 80px !important;
}



