.periodic {
  position: relative;
  height: 200px;
  margin-right: -1px;
  text-shadow: none;
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 4px;
}

.cell {
  position: relative;
  cursor: pointer;
}

.cell:not([data-available]) {
  opacity: 0.4;
  pointer-events: none;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.05);
  text-align: center;
  cursor: default;
  pointer-events: none;
  transition: all 200ms ease;
  background-color: rgba(0, 128, 128, 0.6);
}

.element[data-selected] {
  border: 1px solid #000;
}

.cell:hover .element {
  border-color: rgba(0, 0, 0, 0.1);
  transform: scale(1.5, 1.5);
  z-index: 1;
}

.atomicNumber,
.atomDetails {
  position: absolute;
  font-size: 4px;
  color: rgba(255, 255, 255, 0.5);
  opacity: 0;
}

.atomicNumber {
  top: 4px;
  right: 5px;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -4px;
  font-size: 9px;
  line-height: 1;
  height: 9px;
  color: rgba(255, 255, 255, 0.9);
}

.atomDetails {
  bottom: 4px;
  left: 0;
  right: 0;
}

.element[data-category='diatomic nonmetal'],
.element[data-category='alkali metal'],
.element[data-category='polyatomic nonmetal'] {
  background-color: rgba(0, 192, 64, 0.6);
}

.element[data-category='noble gas'] {
  background-color: rgba(64, 192, 0, 0.6);
}
.element[data-category='lanthanide'],
.element[data-category='actinide'] {
  background-color: rgba(0, 96, 160, 0.6);
}

.element[data-altBg] {
  background-color: rgba(0, 160, 96, 0.6);
}

.element[data-category='diatomic nonmetal']:hover,
.element[data-category='alkali metal']:hover,
.element[data-category='polyatomic nonmetal']:hover {
  background-color: rgba(0, 192, 64, 0.9);
}

.element[data-category='noble gas']:hover {
  background-color: rgba(64, 192, 0, 0.9);
}
.element[data-category='lanthanide']:hover,
.element[data-category='actinide']:hover {
  background-color: rgba(0, 96, 160, 0.9);
}

.element[data-altBg]:hover {
  background-color: rgba(0, 160, 96, 0.9);
}

@media (min-width: 600px) {
  .periodic {
    height: 460px;
    margin-right: -2px;
  }

  .element {
    right: 2px;
    bottom: 2px;
  }

  .atomicNumber,
  .atomDetails {
    font-size: 4px;
    opacity: 1;
  }

  .symbol {
    margin-top: -17px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
  }
}

@media (min-width: 800px) {
  .periodic {
    height: 540px;
  }

  .symbol {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .periodic {
    height: 680px;
  }

  .atomicNumber,
  .atomDetails {
    font-size: 5px;
  }

  .symbol {
    font-size: 24px;
  }
}

@media (min-width: 800px) {
  .periodic {
    height: 400px;
  }

  .atomicNumber,
  .atomDetails {
    font-size: 10px;
    display: none;
  }

  .symbol {
    font-size: 14px;
  }
}
