.beamline-setup-container{

}

.beamline-setup-container table{
  border-collapse: separate;
  border-spacing: 0 1rem;
  table-layout: fixed;
}

.topbar { 
  alignItems: stretch; 
  display: flex; 
  background: #EEEEF1;
  border-bottom: 1px solid rgb(180, 180, 180);
}