.input-bg-moving {
  background-color: #ffff99 !important;
  color: transparent;
  text-shadow: 0 0 0 black;
  transition: background-color 100ms ease-in;
}

.input-bg-ready {
  background-color: #9bce7b !important;
  transition: background-color 100ms ease-in;
}

.input-bg-fault {
  background-color: #ff9999 !important;
  color: #000;
  transition: background-color 100ms ease-in;
}

.input-bg-edited {
  background-color: #ec971f !important;
}

.input-bg-onlimit {
  background-color: #ff9900 !important;
  transition: background-color 100ms ease-in;
}

.input-bg-default {
  background-color: #fff !important;
  transition: background-color 100ms ease-in;
}
