.input-bg-moving{
    background-color: #FFFF99 !important;
    color: transparent;
    text-shadow: 0 0 0 black;
    transition: background-color 100ms ease-in;
}


.input-bg-ready{
    background-color: #9BCE7B !important;
    transition: background-color 100ms ease-in;
}


.input-bg-fault{
    background-color: #FF9999 !important;
    color: #000;
    transition: background-color 100ms ease-in;
}

.input-bg-edited{
    background-color: #EC971F !important;
}

.input-bg-onlimit{
    background-color: #FF9900 !important;
    transition: background-color 100ms ease-in;
}


.input-bg-default{
    background-color: #FFF !important;
    transition: background-color 100ms ease-in;
}
