.generic-equipment-container .rjsf #root__title{
  display: none;
}

.generic-equipment-container-collapsible {
  border: 1px solid #d6d2d2;
  padding: 10px;
}

.command-panel {
  border: 0px;
}

.generic-equipment-arrow-p{
  position: relative;
  bottom: 35px;
  float: right;
  margin-bottom: -20px;
  margin-right: 20px;
}

.collapsible-arrow-c{
  float: right;
  margin-right: 10px;
  margin-left: auto;
  margin-top: 4px;
}

.generic-equipment-collapsible-child-content{
  margin-bottom: 0.5rem;
}


.custom-accordion-header >  .accordion-button:not(.collapsed) {
  background-color: #ffffff !important;
  box-shadow: none !important;
}

.custom-accordion-header-child >  .accordion-button:not(.collapsed) {
  /* background-color: #ffffff !important; */
  box-shadow: 0px !important;
}

.accordion-button:focus {
  box-shadow:none !important;
}