.treeNode {
  display: none;
}

.treeNode ~ ul {
  display: none;
}

.treeNode:checked ~ ul {
  display: block;
}

.treeNodeLabel {
  font-weight: normal;
  cursor: pointer;
  margin: 0px;
}

.treeNodeLabel:hover {
  font-weight: bold;
  color: hsl(208, 56%, 35%);
}

.treeUl {
  background-color: #fff;
  cursor: pointer;
}

.treeLi {
  width: 200px;
  display: block;
  padding-top: 0.2em;
  padding-left: 0.2em;
}

.sampleLabel:hover {
  background-clip: content-box;
  background-color: #d9edf7;
}

.custom-btn-color {
  color: hsl(0, 0%, 50%) !important;
}

.custom-btn-color:hover {
  color: hsl(0, 0%, 0%) !important;
}

.scMessage {
  background-color: white;
  color: blue;
  text-weight: bold;
  font-size: 16px;
  align: center;
}

.abortButton {
  background-color: #ffdddd;
  font-weight: bold;
}

.actionHeader {
  background-color: #eeeeee;
  text-align: center;
}
