[defaults]
inventory = inventory.yaml
pipelining = True
stdout_callback = ansible.builtin.default
callbacks_enabled = ansible.posix.profile_tasks
deprecation_warnings = False
remote_tmp = /tmp
host_key_checking = False

[ssh_connection]
ssh_args = -o ConnectTimeout=30
