.outsideWrapper {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}
.insideWrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.coveredImage {
  width: 100%;
  height: auto;
}
.coveringCanvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

#video-message-overlay {
  width: 40%;
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  position: absolute;
  bottom: 2em;
  right: 2em;
  padding: 1em;
  color: #33beff;
  text-align: center;
  animation: fade 2s 2s forwards;
  opacity: 1;
  font-weight: bold;
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.information-box {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 3px;
  box-shadow: 0 2px 3px 0 #aaa;
  min-height: 300px;
  overflow: hidden;
  margin-bottom: 20px;
}

.camera-control {
  height: 42px;
  width: 33.33333333%;
}

.divider {
  margin-bottom: 0;
}

.canvas-container {
  position: relative;
}

.img {
  position: absolute;
  text-align: left;
}

.button-active {
  color: orange;
}

#zoom-button {
  position: relative;
}

.task-title-head {
  width: 100%;
  height: 12px;
  border-bottom: 1px solid #e5e5e5;
  text-align: center;
  margin-bottom: 25px;
}

.task-title-body {
  font-size: 16px;
  background-color: white;
  padding: 0 10px;
}

.overlay-box {
  position: absolute;
  margin-top: 10px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #ffffff;
}

.overlay-arrow {
  top: -11px;
  border-width: 5px;
  left: 50%;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent transparent rgb(0, 0, 0);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: rgb(0, 0, 0);
  border-left-color: transparent;
}

.overlay-head {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}

.overlay-body {
  padding: 5px;
}

.inline {
  display: inline;
}

.btn-link:not([data-default-styles]):hover,
.btn-link:not([data-default-styles]):focus {
  text-decoration: initial !important;
}

.sample-video-busy {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  float: left;
}

.gridform {
  position: absolute;
  z-index: 1001;
  width: 65em;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.selected {
  background-color: #dff0d8 !important;
  color: #000;
  font-weight: bold;
}
