.logger-window {
  font-size: 12px;
  padding: 0px 12px 0px;
  word-wrap: break-word;
  color: white;
  overflow-x: scroll;
  text-align: left;
  height: 75px;
}

.logger-window p {
  margin: 0 0 2px;
}

.log-window {
  position: fixed;
  z-index: 200;
  background-color: #606465;
  transition: transform 0.3s;
  opacity: 0.8;
  transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.log-window__items {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Close button resets.
 */
.log-window__close {
  color: #fff;
  background-color: #4c4e4e;
  font-size: 14px;
  border: none;
  box-shadow: none;
  border-radius: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.log-window__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a log is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-log {
  overflow: hidden;
}
.log-window--slide-top,
.log-window--slide-bottom,
.log-window--push-top,
.log-window--push-bottom {
  vertical-align: middle;
  width: 100%;
  height: 100px;
  text-align: center;
}

.log-window--slide-bottom,
.log-window--push-bottom {
  bottom: 0;
  left: 0;
  margin-left: 65px;
  transform: translateY(75px);
}

.log-window--slide-bottom.is-active,
.log-window--push-bottom.is-active {
  transform: translateY(0);
}

.o-wrapper.has-push-bottom {
  transform: translateY(-75px);
}
