@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(3rem);
  }
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

.generic-context-menu {
  animation: growDown 0.2s ease-in-out forwards;
  transform-origin: top center;
}

.generic-context-menu-close {
  animation: fadeOut 0.2s ease-in;
}
