*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.inspector {
  margin-left: 400px;

  pre {
    font-family: Menlo;
    font-size: 13px;
  }
}


.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.m-tree {
  position: relative;
  overflow: hidden;
  .f-no-select;
}

.m-draggable {
  position: absolute;
  opacity: 0.8;
  .f-no-select;
}

.m-node {
  &.placeholder > * {
    visibility: hidden;
  }

  &.placeholder {
    border: 1px dashed #ccc;
  }

  .inner {
    position: relative;
    cursor: pointer;
    padding-left: 10px;
  }

  .collapse {
    position: absolute;
    left: 0;
    cursor: pointer;
    display: block;
  }

  .caret-right:before {
    content: "\f067";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 14px;
    padding-right: 0.1em;
    padding-left: 0.2em;
    position: absolute;
    top: 6px;
    left: 0;
  }

  .caret-down:before {
    content: "\f068";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 14px;
    padding-right: 0.1em;
    padding-left: 0.2em;
    position: absolute;
    top: 6px;
    left: 0;
  }
}

.m-node {
  &.placeholder {
    border: 1px dashed #1385e5;
  }

  .inner {
    color: black;
    font-size: 12px;
    font-family: Menlo;
  }

  .node {
    display: inline-block;
    padding: 4px 5px;
    border: 1px solid #999;
    border-radius: 5px;
    display: inline-block;
    padding: 3px 7px 0px 5px;
    text-decoration: none;
    margin: 3px;
    margin-left: 7px;
    &.is-active {
      background-color: grey;
    }
  }
}

.footer-buttons {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 16.66666667%;
}

.queue-button{
  width: 100%;
  border-radius: 0px;
}

.queue-controlls{
  width: 33%;
  border-radius: 0px;
}

.tree .collapse {
    display: block;
}
.fa{
  margin-left: 5px;
}

.node-name{
  margin-left: 4px;
}
.node-root{
  font-size: 16px;
}

.node-method{
    color: white;
}
.node-method:before{
    border-left: 1px solid #999;
    bottom: 50px;
    height: 100%;
    width: 1px;
    content: "";
    position: absolute;
    top: -4px;
    left: 9px;
}

.node-method:after {
    border-top: 1px solid #999;
    height: 20px;
    top: 15px;
    width: 8px;
    content: "";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    color: #000;
    font-size: 14px;
    padding-right: 0.1em;
    padding-left: 0.2em;
    position: absolute;
    left: 9px;
}
.current-sample{
  margin-left: 5px;
}

.sample-search{
  margin: 5px;
  font-size: 14px;
}

.queue{
  position: fixed;
  top: 50px;
  left: 0;
  bottom: 0;
  width: 16.66666667%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 140px;
  border-right: 2px solid black;
}

.passive{
  background-color: #ADABAB;
}

.active{
  background-color: #337ab7;
}

.success{
  background-color: #5cb85c;
}

.error{
  background-color: #d9534f;
}

.warning{
  background-color: #f0ad4e;
}



