.navBar {
  padding: 0;
  z-index: 9999;
  color: rgba(255, 255, 255, 0.8);
}

.brand {
  margin: 0;
  padding-left: var(--bs-navbar-nav-link-padding-x);
  font-size: 125%;
  font-weight: bold;
  letter-spacing: 1px;
}

.brandSub {
  font-size: 80%;
  font-style: italic;
}

.nav {
  align-self: stretch;
}

.mainNav {
  composes: nav;
  margin: 0 auto;
}

.subNav {
  composes: nav;
}

.navLink {
  display: inline-flex;
  align-items: center;
  margin: 0;
  padding: 0.625rem 0.75rem;
  color: inherit;
  letter-spacing: 0.5px;
  white-space: nowrap;
  outline-offset: -3px;
}

.navLink:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.navLink:global(.active) {
  background-color: rgba(255, 255, 255, 0.2);
  font-weight: bold;
  letter-spacing: 0; /* reduce shift when bolding */
}

.remoteIcon {
  position: relative;
  margin-right: 0.5rem;
}

.remoteIcon[data-in-control] {
  color: var(--bs-navbar-hover-color);
}

.numObservers {
  position: absolute;
  top: -3px;
  right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 1rem;
  padding-top: 1px; /* tweak vertical alignment of number */
  background-color: #085de6;
  border-radius: 50%;
  font-family: Helvetica;
  font-size: 0.75em;
  font-weight: bold;
}

.navBtn {
  composes: btnClean from '../../utils.module.css';
  composes: nav-link from global;
  composes: navLink;
  border-radius: 0;
  text-align: left;
}

.toggleBtn {
  composes: navBtn;
  padding: 0.375rem;
  border: none;
}

.parens {
  white-space: pre;
}

/* Mobile nav ends */
@media (max-width: 1199px) {
  .subNav {
    padding-bottom: 0.75rem;
  }
}

/* Desktop nav starts */
@media (min-width: 1200px) {
  .navBar :global(.collapsing) {
    height: auto; /* fix Bootstrap bug when switching to desktop nav with mobile nav open */
  }

  .navLink {
    margin: 0 0 -1px;
    padding: 0.75rem !important; /* override Bootstrap specificity */
  }

  .toggleBtn {
    display: none;
  }
}

/* Condense elements on small desktop */
@media (min-width: 1200px) and (max-width: 1499px) {
  .navBar {
    font-size: 90%;
  }

  .parens {
    display: none;
  }
}

@media (min-width: 1500px) {
  .navLink {
    margin: 0 0.25rem;
  }
}
