.motor-input-container {
    padding-right: 0px;
    margin-bottom: 1em;
    font-size: 16px !important;
}

.motor-name {
    font-size: 1.0em;
    margin-bottom: 0px;
    font-weight: bold;
    display: block;
}

.motor-value {
    font-size: 1.0em;
    font-weight: bold;
    margin-left: 5px;
    border-bottom: 1px dotted #f00;
    cursor: pointer;
}

.motor-input-sm {
    width: '100px !important';
}

.motor-group {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 0px;
    padding-bottom: 0px;
}

.motor-button {
    margin: 15px !important;
}

.motor-abort {
    float: right;
}

.motor-step {
    font-size: 0.7em;
}

.step-size {
    display: inline;
}


.mx-btn {
    display: block;
    height: 1.143em;
    line-height: 1.143em;
    border-width: 0;
}

.rw-widget input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.rw-combobox,
.rw-datetimepicker,
.rw-numberpicker,
.rw-dropdownlist {
    /* padding-right: 1.3em; */
}

.rw-widget {
    background: #fff !important;
    border: #ccc 1px solid;
    border-radius: 4px;
    position: relative;
}

.rw-widget-no-right-border {
    border-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.rw-widget-no-left-border {
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.rw-widget-right-border {
    border: #CCC 1px solid;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.rw-widget>.rw-select {
    border-left: #ccc 1px solid;
}

.rw-select {
    background: rgb(245, 242, 242);
    position: absolute;
    width: 1.3em;
    height: 100%;
    right: 0;
    top: 0;
}

.rw-multiselect,
.rw-combobox input.rw-input,
.rw-datetimepicker input.rw-input,
.rw-numberpicker input.rw-input {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.rw-combobox>.rw-input,
.rw-datetimepicker>.rw-input,
.rw-numberpicker>.rw-input,
.rw-dropdownlist>.rw-input {
    width: 100%;
    border: none;
    outline: 0;
}

.rw-widget .rw-input {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}

.rw-widget input {
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.rw-input {
    color: #555555;
    height: 2.286em;
    padding: 0.2em 0.4em;
    background-color: #fff;
}

.rw-numberpicker .rw-btn {
    display: block;
    height: 1.143em;
    line-height: 1.143em;
    width: 100%;
    border-width: 0;
}

.rw-select.rw-btn,
.rw-select>.rw-btn {
    vertical-align: middle;
    outline: 0;
}

.rw-btn[disabled],
.rw-state-disabled .rw-btn,
.rw-state-readonly .rw-btn {
    -webkit-box-shadow: none;
    box-shadow: none;
    pointer-events: none;
    cursor: not-allowed;
    filter: alpha(opacity=65);
    opacity: .65;
}

.rw-btn,
.rw-dropdownlist {
    cursor: pointer;
}

.rw-btn {
    color: #333;
    line-height: 2.286em;
    display: inline-block;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    background: none;
    background-image: none;
    border: 1px solid transparent;
    padding: 0;
    white-space: nowrap;
}

.rw-btn,
.rw-input {
    color: inherit;
    font: inherit;
    margin: 0;
}

.rw-i {
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1em;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.rw-i-caret-up:before {
    content: '\f0d8';
}

.rw-i-caret-down:before {
    content: '\f0d7';
}

.bs-glyphicons-list {
    padding-left: 0;
    list-style: none;
    margin: auto;
}

.bs-glyphicons-list>li {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 10px;
    line-height: 1.4;
    text-align: center;
    border: 1px solid #fff;
}

.sample-control {
    margin-left: 0px !important;
}

.sample-control-label {
    display: block;
}


.arrow-control {}

.arrow-control .arrow {
    width: 3em;
    height: 3em;
}

.arrow-control .arrow-small {
    width: 2em;
    height: 2em;
    padding: 0px;
}


.arrow-control .arrow-up {
    display: block;
    position: relative;
    left: 3em;
    margin-left: 4px;
}


.arrow-control .arrow-down {
    display: block;
    position: relative;
    left: 3em;
    margin-left: 4px;
}

.arrow-control .arrow-settings {
    margin: 4px;
}

.arrow-control .arrow i {
    font-size: 25px;
    font-weight: bold;
    margin-left: 0px;
}

.arrow-control .arrow-small i {
    font-size: 21px;
    font-weight: bold;
    margin-left: 0px;
}

.arrow-control .arrow-settings i {
    font-size: 20px;
}