.collectConfirmDialogPopover {
  width: auto;
  max-width: 80%;
}

.scroll {
  max-height: 500px;
  overflow-y: auto;
  overflow-x: auto;
}

.scroll tbody td,
.scroll thead th {
  white-space: nowrap;
}

.tableStriped > tbody > tr:nth-of-type(odd) {
  background-color: #eaeaea;
}

.tableStriped > tbody > tr:nth-of-type(even) {
  background-color: rgba(238, 232, 170, 0.2);
}

.tableStriped > tbody > tr:hover {
  background-color: #f0f3f5;
}
