.rjsf #root {
  display: block;
}

.rjsf #root > .form-group {
  margin-bottom: 15px !important;
}

.title_box {
  border: #3c5a86 1.5px dotted;
}

/* .gphl_row_box > .crystal_data,
.gphl_row_box > .parameters{ */
.gphl_row_box > .indexing_solution {
  border: #e74444 1.5px dotted !important;
}

.title_box #title {
  position: relative;
  color: #01012e;
  font-size: large;
  top: -0.7em;
  margin-left: 1em;
  display: inline;
  background-color: white;
}

.indexing_table {
  width: 100%;
}

.indexing_table > thead,
.indexing_table > tbody,
.indexing_table > tr,
.indexing_table > td,
.indexing_table > th {
  display: block;
}

.indexing_table > tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.indexing_table > tbody {
  height: 200px;
  overflow-y: auto;
}

.indexing_table > tbody td,
.indexing_table > thead th {
  width: 90px;
}

.indexing_table_special_td_th {
  border: none !important;
}

.indexing_table_row_selected {
  border: 2px dashed #4099ec !important;
}

.indexing_table_row_variant {
  background: #43e99ca1 !important;
}
