.rjsfFormContainer :global(.rjsf #root) {
  display: block;
}

.rjsfFormContainer :global(.rjsf #root > .form-group) {
  margin-bottom: 15px !important;
}

.boxTitle {
  border: #3c5a86 1.5px dotted;
}

/* .gphlFormRowBox > .crystal_data,
.gphlFormRowBox > .parameters{ */
.gphlFormRowBox {
  margin-bottom: 1rem;
}

.gphlFormRowBox > .indexing_solution {
  border: #e74444 2.5px dotted !important;
}

.boxTitle > .title {
  position: relative;
  color: #01012e;
  font-size: large;
  top: -0.7em;
  margin-left: 1em;
  display: inline;
  background-color: white;
}

.indexingTableC {
  width: fit-content;
}

.indexingTableC > tbody tr[data-selected] td {
  background-color: #1a6fc4 !important;
  color: white !important;
  font-weight: bold;
}

.indexingTableC td[data-cell-highlight='HIGHLIGHT'] {
  background: #15e684a1;
}

.indexingTableC > thead,
.indexingTableC > tbody,
.indexingTableC > tr,
.indexingTableC > td,
.indexingTableC > th {
  display: block;
}

.indexingTableC > tbody {
  overflow-y: auto;
}

.indexingTableC > tbody td,
.indexingTableC > thead th {
  width: 5%;
}

.indexingTableC thead th,
.indexingTableC tbody td {
  padding: 2px 4px;
}

.indexingTableC pre {
  margin: 0;
  padding: 0;
}

.specialTdTh {
  border: none !important;
}

.fieldsRow {
  display: grid;
  column-gap: 0.75rem;
  row-gap: 0.25rem;
  align-items: center;
}

.fieldLabel {
  white-space: nowrap;
  padding-top: 0.375rem;
  text-align: right;
  justify-self: end;
}

.fieldsRow input[type='number']:not(.spinboxInput)::-webkit-outer-spin-button,
.fieldsRow input[type='number']:not(.spinboxInput)::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.fieldsRow input[type='number']:not(.spinboxInput) {
  -moz-appearance: textfield;
  appearance: textfield;
}

.resizableModalContent {
  resize: both;
  overflow: auto;
  min-width: 300px;
  min-height: 200px;
}

[data-highlight='HIGHLIGHT'] {
  background: #15e684a1 !important;
}

[data-highlight='WARNING'] {
  background-color: #ffa60056 !important;
}

[data-highlight='ERROR'] {
  background-color: #ff000056 !important;
}

[data-highlight='CHANGED'] {
  background-color: #ffff0063 !important;
}

.spinboxInput::-webkit-outer-spin-button,
.spinboxInput::-webkit-inner-spin-button {
  -webkit-appearance: auto;
}

.spinboxInput {
  -moz-appearance: auto;
  appearance: auto;
}
