.main-menu-logo {
	width: 55%;
	height: auto;
}


.main-menu-breaker {
	margin-top: 4px;
  border-top: 1px solid #615F5F;
}


.main-menu-bottom-icon {
  dispaly: block;
  position: absolute;
  bottom: 5px;
}


.main-menu-icon {
   width: 100%;
}


.main-menu-tooltip.popover { 
  background-color: #222;
  color: #CCC;
  font-weight: bold;
}


.main-menu-tooltip.popover.right > .arrow:after {
  border-right-color: #222;
}
