.navbar-fixed-top {
  position:sticky !important;
  top:0 !important;
}

.navbar li {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.navbar-brand { 
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-inverse {
  box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
  background-color: #222222;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: #222;
}

.badge-num{
    top: -9px;
    right: 9px;
    height: 15px;
    width: 15px;
    font-size: 12px;
    text-align: center;
    vertical-align:middle;
    position: relative;
    border-radius: 50%;
    color: #FFF;
    font-family: Helvetica;
    font-weight: bold;
    background-color: #0366d6;
    border: 1px solid blue;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
}