.gallery-container {
  padding-top: 0.9375rem;
}

.gallery-card {
  position: relative;
  overflow: hidden;
}

.gallery-card img[alt] {
  color: rgb(212, 9, 9);
}

.gallery-thumbnail {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  font-size: 6rem;
}

.viewer-icon-open {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease-in-out;
}

.viewer-icon-open:focus,
.viewer-icon-open:focus:hover {
  color: #111;
}

.gallery-thumbnail:focus ~ .viewer-icon-open,
.gallery-thumbnail:hover ~ .viewer-icon-open,
.gallery-thumbnail ~ .viewer-icon-open:focus,
.gallery-thumbnail ~ .viewer-icon-open:hover {
  opacity: 1;
}
