.argusButton {
  composes: navBtn from '../MXNavbar/MXNavbar.module.css';
}

.eyeContainer {
  width: 20px;
  height: 25px;
  display: flex;
  align-items: center;
}

.processContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.processButtons {
  composes: processContainer;
  margin-bottom: 0;
  width: 50%;
  justify-content: flex-end;
  gap: 5px;
}

.typeButton {
  min-width: 30%;
  margin-bottom: 5px;
  position: relative;
  background-color: beige;
  border-color: black;
}

.typeButton:hover {
  background-color: rgba(0, 123, 255, 0.1);
  border-color: black;
}

.typeButton::after {
  content: ' +';
  position: absolute;
  right: 10px;
}

.typesContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.commandContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 10px;
  gap: 10px;
}

.settingsButtonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
